//Шмпортую шрифти
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=DM+Sans:wght@400;700&display=swap");

// Імпортую палітру кольорів
@import "./blocs/layoult-palette";

// імпортую  обнуляйющий стиль
@import "./blocs/nullstyle";

// Іпортую  HEADER STYLE
@import "./blocs/header";

// Імпортую FOTTER
@import "./blocs/footer";

body {
  font-family: "Montserrat", sans-serif;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
