//Шмпортую шрифти
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=DM+Sans:wght@400;700&display=swap");

// Імпортую палітру кольорів
@import "./blocs/layoult-palette";

// імпортую  обнуляйющий стиль
@import "./blocs/nullstyle";

// Іпортую  HEADER STYLE
@import "./blocs/header";

//TODO Імпортую form

@import "./blocs/form";

//TODO Імпотрую DISCOVER OUR LATEST PRODUCTS
@import "./blocs/discover-Our-Latest-Products";

//TODO Імпотрую  OUR FEATURED PRODUCTS
@import "./blocs/our-featured-products";

//TODO Імпортую TOP SELLERS
@import "./blocs/top-Sellers";

//TODO Імпортуємо trending Earphones
@import "./blocs/trending-Earphones";

//TODO Імпортую NEW LAUNCHES
@import "./blocs/new-Launches";

// Імпортую FOTTER
@import "./blocs/footer";

//? Імпортую 404
@import "./blocs/404";

body {
  font-family: "Montserrat", sans-serif;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
