.header {
  text-align: center;

  &__logo {
    text-align: center;
    font-size: 28.8px;
    font-weight: 600;
    font-style: italic;

    &-404 {
      color: $headerBackground;
      font-size: 70px;
      font-weight: 600;
      font-style: italic;
    }

    &-4041 {
      color: #000;
      font-size: 70px;
      font-weight: 600;
      font-style: italic;
    }
  }
}

.main {
  &__404 {
    display: block;
    margin: 30px auto;
  }
  &__section404 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button-404 {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 50px 0 100px 0;
    display: block;
    max-width: 263px;
    height: 70px;
    box-shadow: 0 25px 50px 0 rgba(132, 94, 194, 0.15);
    border-radius: 10px 10px 10px 10px;
    background-color: $discover-Background-Color;
    color: $discover-Color;

    font-size: 28 px;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: $discover-Background-Color-Hover;
    }
  }
}
