.main {
  &__our-latest {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1000px) {
      display: block;
    }

    &-title {
      margin-top: 125px;
      max-width: 550px;

      @media (max-width: 1000px) {
        margin: 50px auto;
      }
      h1 {
        margin-bottom: 30px;

        color: #2b2626;
        font-size: 64px;
        font-style: normal;

        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0;
        text-transform: none;

        @media (max-width: 1000px) {
          font-size: 50px;
        }

        @media (max-width: 600px) {
          font-size: 40px;
        }
      }

      p {
        color: #2b2626;
        font-size: 21px;
        font-style: normal;
        margin-top: 0;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 0;
        letter-spacing: 0;
        text-transform: none;

        @media (max-width: 1000px) {
          font-size: 21px;
        }

        @media (max-width: 600px) {
          font-size: 15px;
          margin: 0 auto;
        }
      }
    }
  }

  &__button {
    width: 100%;
    height: auto;
    margin: 50px 0 100px 0;
    display: block;
    max-width: 263px;
    height: 70px;
    box-shadow: 0 25px 50px 0 rgba(132, 94, 194, 0.15);
    border-radius: 10px 10px 10px 10px;
    background-color: #10b981;
    color: #fff;

    font-size: 21px;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: #059669;
    }

    @media (max-width: 1000px) {
      margin: 50px auto;
    }

    @media (max-width: 500px) {
      margin: 50px auto;
      font-size: 20px;
      font-weight: 500;
      max-width: 163px;
      height: 50px;
    }
  }

  &__img-latest {
    display: inline;

    p {
      margin-left: 10px;
    }
  }

  &__readBest {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 400px) {
      display: inline;
      margin: 0 auto;
    }

    &-all {
      display: flex;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;

      @media (max-width: 400px) {
        display: inline;
        margin: 0 auto;
      }
    }

    &-video {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 10px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;

        @media (max-width: 400px) {
          margin: 0px auto;
        }
      }

      span {
        font-size: 14px;
        color: #2b2626;
        font-family: "Montserrat", sans-serif;
        @media (max-width: 400px) {
          margin: 20px auto;
        }
      }
    }

    &-item {
      position: relative;
      text-align: center;
      background-color: #e8fff2;
      padding: 40px 20px;
      border-radius: 200px;
      width: 250px;

      @media (max-width: 400px) {
        margin: 0 auto;
      }

      h2 {
        font-size: 20px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        margin: 20px 0;
        color: #2b2626;
      }
    }

    &-headphones {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
    }

    &-price {
      font-size: 24px;
      font-weight: bold;
      color: #2b2626;
      margin-top: 20px;
    }
  }

  .star {
    position: absolute;
    width: 50px;
    height: 50px;

    &--top {
      top: -50px;
      left: 5px;
    }

    &--bottom {
      bottom: -50px;
      right: 5px;
    }
  }
}
