.footer {
	margin: 0 auto;
	width: 1068px;

	&__prev {
		position: relative;
		text-align: right;

		&-text {
			color: #111;
			font-size: 22px;
			font-weight: 400;
			font-style: normal;
			font-family: "DM Sans", sans-serif;
			text-align: left;

		}
		&-btn {
			width: 175px;
			height: 50px;
			box-sizing: border-box;
			align-items: center;
			text-align: center;
			background-color: #10b981;
			margin-left: 40px;
			color: #fff;
			font-size: 17px;
			font-family: "DM Sans",sans-serif;
			font-weight: 700;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #059669;
			}
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-top: 40px;
		width: 979px;

		&-subscr {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: start;
			justify-content: start;

			&_descr {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;
				color: #111;
				font-size: 22px;
				line-height: 26px;
			}

			&_input {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: end;
				margin-top: 30px;
				height: 50px;

				&__mail {
					color: #111;
					font-size: 15px;
					margin-top: 0;
					text-align: left;
					font-family: "DM Sans",sans-serif;
					font-weight: 400;
					border-bottom: 1px solid #979797;
					opacity: 50%;
					width: 289px;
					height: 50px;
					text-transform: none;
					padding-left: 10px;
				}

				&__btn {
					width: 50px;
					height: 50px;
					background-color: #10b981;
					margin: 20px 0 0 -50px;
					border-radius: 8px 8px 0 0;
					z-index: 1;

					&:hover {
						background-color: #059669;
						transition: 0.3s ease .1s;
					}
				}
			}
		}
		&-links {
			display: flex;
			flex-direction: row;
			gap: 170px;

			&_services, &_about, &_help {

				span {
					color: #10b981;
					font-size: 17px;
					font-family: "DM Sans",sans-serif;
					font-weight: 400;
				}

				ul>li {
					color: #111;
					font-size: 15px;
					margin-top: 20px;
					text-align: left;
					font-family: "DM Sans",sans-serif;
					font-weight: 400;

					& a {
						display: inline-block;
						color: #000;
						transition: 0.3s ease .1s;

						&:hover {
							transform: translateX(8px);
							text-decoration: underline;
							color:#10b981;
						}
					}

				}
			}
		}
	}

	&__terms {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 70px auto 129px;

		&-wrapper {
			display: flex;
			flex-direction: row;
			gap: 39px;

			&_conditions, &_privacy {
				color: #111;
				font-size: 15px;
				text-align: left;
				font-family: "DM Sans",sans-serif;
				font-weight: 400;

				& a {
					cursor: pointer;
					display: inline-block;
					transition: 0.3s ease .1s;
					color:#000;

					&:hover {
						transform: translateY(-8px);
						text-decoration: underline;
						color:#10b981;
					}
				}
			}
		}

		&-social {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 40px;

			& a {

				&:hover {

					& svg>path, svg>circle {
						transform: rotate(360deg);
						transition: 0.7s ease;
						fill:#10b981;
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.footer {
		padding: 16px 32px;
		width: 992px;

		&__prev {

			&-text {
				font-size: 18px;
			}
			&-btn {
				font-size: 14px;
			}
		}
		&__list {
			width: auto;

			&-subscr {

				&_descr {
					font-size: 22px;
				}

				&_input {

					&__mail {
						width: 250px;
					}
				}
			}

			&-links {
				gap: 130px;
			}
		}

		&__terms {

			&-wrapper {
				gap: 30px;

				&_conditions {
					font-size: 14px;
				}
			}

			&-social {
				gap: 30px;
			}
		}
	}
}


@media (max-width: 991px) {
    .footer {
        max-width: 768px;

        &__prev {
            margin: 0 auto;
            text-align: center;

            &-text {
                font-size: 16px;
            }

            &-btn {
                font-weight: 500;
            }
        }

        &__list {
            flex-direction: column;

            &-subscr {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                gap: 50px;

                &_descr {
                    flex-direction: row;
                    gap: 8px;
                    font-size: 18px;
                }

                &_input {
                    margin: 0;

                    &__mail {
                        border: 1px solid #979797;
                        padding-left: 10px;
                    }

                    &__btn {
                        border-radius: 0;
                    }
                }
            }

            &-links {
                margin: 40px auto 0;
                gap: 170px;

                &_services, &_about, &_help {


                    span {
                        font-size: 15px;
                    }

                    ul > li {
                        font-size: 14px;
                    }
                }
            }
        }

        &__terms {
            justify-content: space-around;
        }
    }
}

@media (max-width: 767px) {
	.footer {
		max-width: 576px;

		&__prev {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			&_text {
				font-weight: 500;
			}
		}

		&__list {

			&-subscr {
				gap: 40px;

				&_descr {
					font-size: 15px;
					font-weight: 500;
				}
			}

			&-links {
				gap: 120px;
			}
		}

		&__terms {
			justify-content: space-between;
			gap: 100px;
			margin: 60px 14px 100px 14px;
		}
	}
}

@media (max-width: 575px) {
	.footer {
		max-width: 320px;
		padding: 16px 12px;

		&__prev {

			&-text {
				font-size: 15px;
			}

			&-btn {
				height: 43px;
			}
		}

		&__list {

			&-subscr {
				justify-content: center;
				gap: 10px;

				&_input {

					&__mail {
						height: 43px;
					}

					&__btn {
						width: 43px;
						height: 43px;
						margin: 20px 0 0 -43px;
					}
				}
			}

			&-links {
				gap: 50px;

				&_services, &_about, &_help {
					& ul>li>a {
						line-height: 17px;
					}
				}
			}
		}

		&__terms {
			margin: 60px 0 100px 0;
			gap: 30px;

			&-wrapper {

				&_conditions, &_privacy {

					& a {
						line-height: 17px;
					}
				}
			}
		}
	}
}