//TODO header all color

$headerText: #fff;
$headerBackground: #10b981;

//TODO discover-Our-Latest-Produts color

$discoverText: #2b2626;
$discover-Background-Color: #10b981;
$discover-Background-Color-Hover: #059669;
$discover-Color: #fff;
$discover-Background-Color-item: #e8fff2;

//TODO our Featured products
