.main__new-launches_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 130px auto;
	height: 765px;
	width: 1440px;

	&__title {
		color: #2b2626;
		font-size: 44px;
		font-style: normal;
		font-family: "Montserrat",sans-serif;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 0;
		text-transform: none;
	}

	&__card {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 120px;
		background-color: #845EC2;
		max-width: 1440px;
		// padding: 62px 125px;

		&-slider {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			padding: 62px;

			&_lbtn, &_rbtn {

				button {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					width: 48px;
					height: 48px;
					background-color: #10b981;
				}
			}

			&_content {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 83px;
				height: 466px;

				&__img {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					gap: 45px;
					width: 522px;

					.first, .second {
						box-sizing: border-box;
						max-width: 238px;

						img {
							position: relative;
							border-radius: 136px;
						}

					}

					.first {
						img {
							top: -20px;
						}
					}
					.second {
						img {
							bottom: -20px;
						}
					}
				}
			}
		}
	}
}