.main {
  &__our-featured {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #845ec2;
    padding: 0 85px 0 85px;
    width: 100%;
    height: 550px;
    margin: 0;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      height: auto;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px 0 20px 0;
    }
  }

  &__our-description {
    width: 100%;
    max-width: 623px;
    box-sizing: border-box;
    text-align: center;

    p {
      text-align: center;
      color: #fff;
      font-size: 31px;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0;
      text-transform: none;
      padding-top: 50px;
    }
  }

  &__our-description-img0 {
    width: 500px;
    padding-bottom: 40px;
  }

  &__our-description-img1 {
    margin-right: 20px;
    width: 180px;
    gap: 20px;

    @media (max-width: 1330px) {
      width: 150px;
    }
  }
  &__our-description-img2 {
    margin-right: 20px;
    width: 180px;
    gap: 20px;
    margin-top: -50px;

    @media (max-width: 1330px) {
      width: 150px;
    }
  }
  &__our-description-img3 {
    margin-right: 20px;
    width: 180px;
    gap: 20px;

    @media (max-width: 1330px) {
      width: 150px;
    }
  }

  &__our-product {
    max-width: 560px;
    h2 {
      color: #fff;
      font-size: 44px;
      font-style: normal;
      margin-top: 0;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0;
      letter-spacing: 0;
      text-transform: none;

      @media (max-width: 1200px) {
        color: #fff;
        font-size: 35px;
        font-style: normal;

        margin-top: 20px;

        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: normal;

        text-transform: none;
      }
    }
    p {
      color: #fff;
      font-size: 21px;
      font-style: normal;
      margin-top: 0;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      line-height: 35px;
      margin-bottom: 0;
      letter-spacing: 0;
      text-transform: none;

      @media (max-width: 1200px) {
        font-size: 17px;
        text-align: center;
      }
    }
  }

  &__our-product-button {
    display: flex;
    gap: 30px;

    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
  &__our-product-button-item {
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    display: block;
    max-width: 250px;
    height: 70px;
    box-shadow: 0 25px 50px 0 rgba(132, 94, 194, 0.15);
    border-radius: 10px 10px 10px 10px;
    background-color: $discover-Background-Color;
    color: $discover-Color;

    font-size: 21px;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: $discover-Background-Color-Hover;
    }

    @media (max-width: 1200px) {
      max-width: 180px;
      height: 50px;
      font-size: 17px;
    }
  }
}
